@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.container {
  width: 85%;
}
p {
  font-size: 90%;
  color: #4b5059;
}
.nav-link {
  font-size: 0.9em !important; 
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}
.carousel-caption h5 {
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}
.padding {
	padding-top: 3rem;
}

.unc1 {
	color: #8e7575;
	font-weight: 700;
}
.unc2 {
	color: #212121;
	font-family: 'Poppins', sans-serif;
}
.unc3 {
  margin: 0 auto;
}
.btn-primary {
  background-color: #513b37;
  border: 1px solid #513b37;
}
.card {
  border: none;
}
/*---Media Queries --*/
@media (max-width: 992px) {
  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding : 8px 14px;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding : 4px 8px;
  }
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 16rem;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('images/wood.jpeg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
